{{response.showStudyInfo = True}}
{{extend 'keystroke/klayout.html'}}
<div>
    <div class="hero-unit">
    <h2>Welcome!</h2>
    <p>This University of Washington research study has two phases:</p>

    <ol>
    <li><p>First HIT (${{=request.enrollPrice}}): Sign up for study.</p></li>

    <li><p>Next hits (${{=request.verifyPrice}} each, up to 50 times):
    Answer questions about your mood and emotions.</p></li>
    </ol>
        {{if request.preview:}}
            <div class="btn btn-large disabled" disabled="disabled">Get started</div>
        {{else:}}
            <a class="btn btn-primary btn-large" href="{{=URL(f='index', vars=request.get_vars)}}&enroll=1">Get started</a>
        {{pass}}
    </div>
</div>
